<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Housemates Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'javascript/script.js' %}"></script>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg">
            <div class="col-10 offset-1 d-flex justify-content-between">
                <a class="navbar-brand"> HouseMates</a>
                <div class="mt-1">
                    <button class="myBtn fancyButtonW1" href="#">Log in</button>
                </div>
            </div>
        </nav>
    </div>
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="roundBorder shadow col col-6 offset-3 p-3">
                <h1 class="text-center mb-4">Create your account</h1>
                <form action="/register" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="firstName" class="col-sm-4 col-form-label">First Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="firstName" name="firstName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lastName" class="col-sm-4 col-form-label">Last Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="lastName" name="lastName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-4 col-form-label">Email</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-4 col-form-label">Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="confirmPassword" class="col-sm-4 col-form-label">Confirm Password</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="confirmpassword" name="confirmPassword">
                        </div>
                    </div>
                    <div class="float-right">
                        <button class="fancyButtonB1">Register</button>
                    </div>
                </form>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <footer class="footer"></footer>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="roundBorder modal-content">
            <div>
                <span class="close float-right pr-3">&times;</span>
            </div>
            <h1 class="text-center">Housemates</h1>
            <h2 class="mb-4 mt-4">Sign into your account</h2>
            <form action="/login" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="email" class="mb-4 form-control" id="email" name="email">
                <input type="password" placeholder="password" class="mb-4 form-control" id="password" name="password">
                <div class="float-right">
                    <button class="fancyButtonW1">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>