/* BASE CSS */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/* FONTS */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.smallText {
    font-size: 12px;
    padding-right: 0px !important;
}

/* FOOTER & NAV */
nav {
    background-color: rgb(240, 255, 255);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgb(240, 255, 255);
}

/* BORDERS */
.border1 {
    border-style: solid;
    border-width: 1px;
    border-color: #dee2e6;
    border-radius: 20px;
}