#banner {
    position: relative;
    background-color: rgb(226, 255, 255);
}

.fancyButtonW1 {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    width: 100px !important;
    height: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: rgb(29, 161, 242);
    border-color: rgb(29, 161, 242);
    font-size: 14px;
    padding: 0;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px 1px 2px #f6f6f6
}

.fancyButtonB1 {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, rgb(29, 161, 242) 5%, #35d3fa 100%);
    width: 100px !important;
    height: 30px;
    background-color: rgb(29, 161, 242);
    border-radius: 20px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    border-color: rgb(29, 161, 242);
    font-size: 14px;
    padding: 0;
    text-decoration: none;
    text-align: center;
}

.fancyButtonW1:hover {
    background: linear-gradient(to bottom, #f6f6f6 5%, rgb(220, 247, 255) 100%);
    background-color: rgb(220, 247, 255);
    position: relative;
    top: 1px;
}

.fancyButtonB1:hover {
    background: linear-gradient(to bottom, rgb(102, 219, 255) 1%, rgb(27, 161, 242) 100%);
    background-color: rgb(27, 161, 242);
    position: relative;
    top: 1px;
}

#profileCircle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px #39cff5;
    -webkit-box-shadow: 0 0 8px #39cff5;
    -moz-box-shadow: 0 0 8px #39cff5;
    background-color: white;
    position: absolute;
    bottom: -30px;
    left: 15px;
}

#profileCircle2 {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px #39cff5;
    -webkit-box-shadow: 0 0 8px #39cff5;
    -moz-box-shadow: 0 0 8px #39cff5;
    background-color: white;
}

#roommateCircle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px #39cff5;
    -webkit-box-shadow: 0 0 8px #39cff5;
    -moz-box-shadow: 0 0 8px #39cff5;
    background-color: white;
}

#profileCol {
    float: inline-start;
}

#itemForm>form {
    margin-top: 20px;
}

#profileImg {
    width: 100%;
    height: auto;
}

#profileInfo {
    margin-top: 35px;
    height: 200px;
}

#profileInfo>p {
    margin: auto;
}

.houseSelection {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#price {
    border-style: hidden;
    outline: none;
    width: 65px;
    background-color: rgb(253, 253, 253);
}

/* BORDERS AND GRIDS */
.roundBorder {
    border-style: solid;
    border-width: 0px;
    border-radius: 20px;
}

.shadow {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 5px 6px #ccc;
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#noBox {
    border-style: hidden;
    outline: none;
    width: 100%;
    background-color: rgb(253, 253, 253);
}

/* LOGIN POPUP */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 160px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    height: 400px !important;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}